<div>
	<%= form_with model: @kitten, url: yield(:path), local: true do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %><br>
		
		<%= f.label :age %>
		<%= f.number_field :age, in: 1..20 %><br>

		<%= f.label :cuteness %>
		<%= f.number_field :cuteness, in: 1.0..10.0, step: 0.1 %><br>

		<%= f.label :softness %>
		<%= f.number_field :softness, in: 1.0..10.0, step: 0.1 %><br>

		<%= f.submit yield(:submit) %>
	<% end %>
</div>