<div>
	<h1>All the kittens!</h1>
	<a href="<%= new_kitten_path %>">Add a kitten</a>
	<div>
		<ul>
			<% @kittens.each do |k| %>
				<li>
					<h3><%= link_to k.name, k %></h3>
					<span>Age: <%= k.age %></span><br>
					<span>Cuteness: <%= k.cuteness %></span><br>
					<span>Softness: <%= k.softness %></span>
					<%= link_to 'Delete kitten', k, method: :delete %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

