<div>
	<h1><%= @kitten.name %>'s page</h1>
	<div>
		<span>Age: <%= @kitten.age %></span>
		<span>Cuteness: <%= @kitten.cuteness %></span>
		<span>Softness: <%= @kitten.softness %></span>
	</div>
	<%= link_to 'Edit kitten', edit_kitten_path %>
	<%= link_to 'Delete kitten', kitten_path, method: :delete %>
</div>